@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    color: rgb(70, 69, 66);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(90deg, rgb(199, 247, 205), rgb(236, 248, 128));
    font-size: 20px;
}

.container{
    padding: 30px 70px ;
    display: inline-grid;
}

label{
    padding-top: 10px;
    text-align: left;
}

#file-name-1, #file-name-2{
    width: 300px;
    position: relative; 
    resize: none;
    border: none;
    appearance: none;
    outline: none;
    box-shadow: -10px 10px 1px rgba(0, 0, 0, 0.3);
    font-size: 20px;
}

#btn-converter{
    color: rgb(70, 69, 66);
    width: 100px;
    position: absolute; 
    margin: 205px -50px;
    resize: none;
    border: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    box-shadow: -10px 10px 1px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    padding: 5px 5px;
}

#file-name{
    width: 300px;
    position: relative; 
    resize: none;
    border: none;
    appearance: none;
    outline: none;
    box-shadow: -10px 10px 1px rgba(0, 0, 0, 0.3);
    font-size: 20px;
}

#json-text-file{
    width: 400px;
    height: 200px;
    resize: none;
    border: none;
    outline: none;
    box-shadow: -10px 10px 1px rgba(0, 0, 0, 0.3);
    appearance: none;  
    font-size: 20px;
}

#csv-text-file{
    width: 400px;
    height: 200px;
    resize: none;
    border: none;
    outline: none;
    box-shadow: -10px 10px 1px rgba(0, 0, 0, 0.3);
    appearance: none;  
    font-size: 20px;
}

#buttons{
    justify-content: center;
    display: flex;
}

input[type="file"]{
    display: none;
}

.btn-up{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    font-size: 20px;
    width: 200px;
    height: 25px;
    padding: 10px;
    background-color: white;
    border: none;
    box-shadow: -10px 10px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#btn-download{
    color: rgb(70, 69, 66);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    font-size: 20px;
    width: 157px;
    height: 43px;
    background-color: white;
    border: none;
    box-shadow: -10px 10px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-left: 400px;
    margin-top: -7px;
}